

/*TEMP*/

.container{
    border: 1px solid #0033FF;
}

.col-md-12{

    border: 1px solid #00FF05;

}

.container-fluid{
    border: 1px solid #800F00;
}

.col-md-6{
    
        border: 1px solid pink;
    
    }
.col-md-4 {

    border: 1px solid brown;
}

.col-md-3 {
    
        border: 1px solid #4D185C;
    }
.col-md-8 {
        
            border: 1px solid #C27B1C;
        }
        
.col-md-2{border: 1px solid rgba(16, 216, 209, 0.89);}
/**header**/
.bandeau {height: 20px;
         };

.part1D{ background-image: url('../img/pasta-wide.jpg');
         background-size:;

}
.part1G{ background-color:#00ccbc };

/**a la carte**/
.aLaCarte{display: block;


}