



/*GENERAL STYLES*/

body{
    
    font-family: 'Source Sans Pro', sans-serif;
    
}

body{
    text-align: center;
}

.container-fluid {
    padding:0;
}





/*BOOKING*/


#booking{
    background-image: url('../img/train-bg.jpg');
    background-size: cover;
    height: 800px;
    color:#fff;
}

/*NAVBAR*/

.navigation {
    background-color: rgba(33,49,77,.8);
    height: 60px;

}

.navigation .container, .navigation .col-md-4, .navigation .col-md-6 {
    height: 100%;
    padding-left:0;
}
.navigation-item{
    height: 100%;
    
    
}

.navigation-item div{
    height: 100%;
}

.navigation-item img{
    border:1px solid #fff;
    border-radius :5px;
}

.navigation-item p {
    display: inline-block;
    height: 20px;
   
}

.currency{
    border: 3px solid green;
}

#header-logo {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
   
}





.navigation ul li{
    list-style-type: none;
    display: inline-block; 
    height: 100%
}


#booking .btn-group button{
    padding-left : 0;
}


.panels{
    height: 500px;
    
    color:grey;
    margin-bottom:50px;
    padding-top :30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    
}

.panel {
    background-color:#F7F8F7;
    border-radius:10px;
    height: 450px;
    width: 40%;
    margin: auto;
   
}

.panel-right {
    padding: 0;
    
}

.partner-p{
    width:90%;
    height: 110px;
    padding:5px 10px 0 10px;

 
    margin: auto;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    color:grey;
   
     
}

#booking .panels ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    
}

#booking .panels li {
   
    width : 95%;
    height: 85px;
    padding: 10px;
    margin-left : 0; 
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
}

#booking .panel-right ul {
    padding-left:0; 
}

#booking .ico-booking{
    display: block;
    
    width : 50px;
    height: 50px;
    border-radius : 50%;
    margin-right: 10px;
}

.panel-header{
    background-color: #20304B;
    color : #fff;
    padding: 10px;
    margin: 0;
    border-radius : 10px 10px 0 0 ;
    ;
    
}

.ico-booking {
    background-color: #20304B;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 50px;
    
    
}

.first-ico {

    background-image: url('../img/logo-booking/icon-tag-white.svg');
   

}

.second-ico{
    background-image: url('../img/logo-booking/icon-loyalty-card-white.svg');
}

.third-ico {

    background-image: url('../img/logo-booking/icon-payment-white.svg');

}


.panel-right .container {
    padding: 10px;
    text-align: center;
    max-width: 100%;
}

.panel-right .col-md-3{
    height: 40px;
    padding: 0;
}

#booking .pp-logo {
    max-width: 100px;
    max-height: auto;
}

.em-text {
    color: #01C3A7;
    font-weight: 600;
}

#booking .panel-right li {
    font-size: 17px;
    line-height: 1.4em;
    display: table-row;
    min-height: 33%;
}


#booking .panel-right li .col-md-12 {
    padding:30px 0 0 0; 

}
/*PARTNERS*/

.primary-partners, .secondary-partners {
    display: inline-block;
}

.primary-partners{
    height: 60px;
}

.secondary-partners{
    height: 40px;
}
.pp-logo  {
   ;
    max-height: 40px;
   
    width : 120px;
    height: 100%;
    
}

.sp-logo  {
   
    max-height: 20px;
   
    width: 100px;
    
}

.pp-logo{
    
    
}

/*ARGU*/

#argu .container {
  
    margin :50px auto 50px auto;
}

#argu .container-fluid:nth-child(2) {
    background-color: #F5F6F7;
    
}

#argu .row {
    
    height: 600px;
    
}

.argu-text-box{
    
    width:90%;
    margin:180px auto auto auto;
    text-align: left;
}

.argu-text-box h2, #argu .container h2{
    font-weight: 900;
    margin-bottom: .4em;
    font-size:32px;
    color: #21314D;
}

.argu-text-box p, #argu .container p{
    line-height: 1.75em;
    color: #8C8A8C;
    font-size: 19px;
}

.argu-text{
    height: 100%;
}
#first-illu {
    background-image: url('../img/couple.jpg');
    background-size : cover;
    height: 100%;
    
}

#second-illu {
    background-image: url('../img/high-speed-train.jpg');
    background-size : cover;
    height: 100%;

    
}

#third-illu {
    background-image: url('../img/rails.jpg');
    background-size : cover;
    height: 100%;
    
}

/*HOW-TO*/

#how-to, #get-onboard {
    background-image: url('../img/dots-pattern.png')
}

#how-to .col-md-5{
    height: 200px;
    display: flex;
    flex-direction: row;
   
    align-items: center;
}
#how-to img{
    display: inline-block;
    max-width: 100px;
    margin: auto;
   
    
    
}

#how-to h2{
    font-size: 28px;
    margin-bottom: 1.2em;
    color: #21314D;
    font-weight: 900;
}

#how-to .or{
    height: 200px;
    text-align: center;
 
    text-transform: uppercase;
    color:#CCC;
    font-weight: 600;   
    line-height: 15;
}

#how-to .col-md-12 p {
    font-size : 18px;
    line-height: 1.5em;
    color : #8C8A8C;
}

#how-to .col-md-6 {
    
    margin: 0;
    padding: 0;
}

.payment{
    border-right :0.5px solid lightgray;
    padding-right : 0;
    margin-right: 0;


}
.tickets{
   
    padding-left : 0;
    margin-left: 0;
}

#how-to .container {
    margin-bottom: 80px;
}
/*GET-ONBOARD*/

#get-onboard .container-fluid {
    height: 266px;
    background-color: #3F618C;
    color: #fff;
    padding-top:50px;
}

#get-onboard .container-fluid h2 {
    font-weight: 900;
}

#get-onboard button{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #01C3A7;
    color: #FFF;
    background-color: #01C3A7;
    border-bottom: 1px solid #01907c;
    box-shadow: 0 1px 1px -1px #8C9DA1;
}




/*FEEDBACK*/

#feedback {
    background-color: #F5F6F7;
}

#feedback h2{
    padding :30px 10px 10px 30px;
    margin-top: 20px;
    margin-bottom: .3em;
    font-size: 32px;
    color: #21314D;
    font-weight: 900;
}

#feedback p {
    font-size: 19px;
    line-height: 1.5em;
    color: #8C8A8C;
    padding: 10px;
}
#feedback li{
    display : inline-block;
    height:30px;
    margin :10px;
}


.feedback-logo img{
    max-width:  80px;
    height: auto;
    opacity: 0.5;
    
}

.twitter-tweet {
background-color: #fff;   
}
/*FOOTER*/

footer ul{
    list-style: none;
}

footer {
    text-align: left;
    line-height: 20px;

}

footer ul {
    margin :0;
    padding: 0;
    display: block;
}

footer li a, footer li p {
    font-size: 12px;
   
}

footer .col-md-12{
    padding: 0;
    margin: 0;
}

footer .col-lg-2{
    padding : 0;
}

.footer-title {

    height: 50px;
    padding: 10px 10px 0 0;
    margin-bottom: 10px;
}
