/*TEMP STYLES*/

.container-fluid, .container {
    border-collapse: collapse;
}
.container-fluid {
    border: 2px solid darkred;
}
.container {
    border: 2px solid violet;
}

.col-md-6 {
    border: 1px solid blue;
}

.col-md-10 {
    border: 1px solid green;
}

.col-md-3 {
    border: 1px solid yellow;
}

.col-md-12 {
    border: 1px solid orange;
}

.col-md-2 {
    border: 1px solid tomato;
}
.col-md-4 {
    border: 1px solid orangered;
}

footer div {
    border: 0.5px dotted lightslategray;
}


/*GENERAL STYLES*/

body{
    
    font-family: 'Source Sans Pro', sans-serif;
    
}

body{
    text-align: center;
}

.container-fluid {
    padding:0;
}



/*BOOKING*/

            /*NAVBAR*/

.navigation {
    background-color: rgba(33,49,77,.8);

}


#booking .btn-group button{
    padding-left : 0;
}

/*PARTNERS*/

.primary-partners, .secondary-partners {
    display: inline-block;
}

.primary-partners{
    height: 60px;
}

.secondary-partners{
    height: 40px;
}
.pp-logo  {
    border: 1px solid black;
   
    width : 120px;
    height: 100%;
    
}

.sp-logo  {
    border: 1px solid #E34242;
    height: 100%;
   
    width : 100px;
    
}

/*ARGU*/



#argu .container-fluid {
    background-color: #F5F6F7;
    ;
}
#first-illu {
    background-image: url('../img/couple.jpg');
    background-size : cover;
    height: 600px;
}

#second-illu {
    background-image: url('../img/high-speed-train.jpg');
    background-size : cover;
    height: 600px
}

#third-illu {
    background-image: url('../img/rails.jpg');
    background-size : cover;
    height: 600px
}

/*HOW-TO*/



/*GET-ONBOARD*/




/*FEEDBACK*/



/*FOOTER*/

footer ul{
    list-style: none;
}