


/** body**/
body { font-family: "adelle",sans-serif;


}
/**header**/
.bandeau {height: 20px;
         }

.part1D .col-md-6{ background-image:url("pasta-wide.jpg");
                   background-image: linear-gradient(96deg, #00ccbc 14%, transparent 14.04%); 
         

}
.part1G{ background-color:#00ccbc;
         color:white;
         text-align: left; 
         font-family: "stratos",sans-serif;
         
        
        }
.part1G h1 {font-size: 40px;


}
    
/**a la carte appliquer font + resize img **/
.row {display: block;
}
.descIma{ 
           text-align: center;
           
           
}
.imagCart4 .imagCart8{     overflow:auto;
                
}